.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px 30px auto;
  padding: 40px 60px;
  gap: 100px;
  font-family: var(--font-wix);
}

.content {
  // max-width: 60%;
  line-height: 1.2;
  h1{
    font-family: "Inter";
    font-size: 64px;
    font-weight: 900;
    font-style: bold;

  }
  h2 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 10px;
  } 
  h3 {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }
ul {
   list-style: none;
}
ul li:before {
   content: "∎";
   font-size: 150%; /* or whatever */
   color: #31402F;
}
hr{
  width: 50%;
  color: #31402F;
  margin-bottom: 10px;
}

}

.image {
  flex: 1;
  img {
    width: 611px;
    height: 833px;
    border-radius: 334.5px;
    object-fit: cover;
  }
}
