/* Сброс базовых отступов */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #eeeeee;
  color: #29271f;
  overflow-x: clip !important;
  width: 100vw;
  scroll-behavior: smooth;
}

/* Контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Основная область */
.main {
  min-height: 80vh;
  padding-top: 20px;
}
button {
  cursor: pointer;
}
